* {
	font-family: Lato, Helvetica, Arial, sans-serif;
	color: black;
}

body {
	text-align: center;
}
ul {
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	display: inline;
}
hr {
	border: 1px solid black;
}
a {
	color: black;
}
a:hover {
	text-decoration: none;
}
sub {font-size: 70%;}
sup {font-size: 70%;}

.menu {
	position: relative;
	vertical-align: middle;
}
.menu ul {
	text-align: center;
	padding-top: 1em;
	margin: 0;
	background-color: #EDEDED;
	list-style: none;
}
.menu ul li {
	padding-bottom: 1em;
	display: block;
}
.menu a {
	padding: 0 10px 0 10px;
	/* visual do link */
	background-color: #EDEDED;
	color: #333;
	text-decoration: none;
	border-left: 3px solid #EDEDED;
	border-right: 3px solid #EDEDED;
}
.menu a:hover {
	background-color: #D6D6D6;
	color: #6D6D6D;
	border-left: 3px solid #EA0000;
	border-right: 3px solid #EA0000;
}

.page {
	width: 20cm;
	background: #FAFAFA;
	padding: 0.5cm;
}

.block
, .line {
	font-size: 10pt;
	text-align: justify;
}
.block h1, h2, h3 {
	display: block;
	text-align: left;
}
.block h1 {
	padding-bottom: 0.5em;
	font-size: 32pt;
}
.block h2 {
	font-size: 12pt;
	font-weight: bold;
}
.block h3 {
	padding-top: 0.5em;
	font-size: 12pt;
	font-weight: bold;
}
.block h6 {
	display: none;
	font-size: 10pt;
	font-weight: bold;
}
.first ul h1 {
	text-align: left;
	font-size: 16pt;
}
.first h1 {
	text-align: center;
}
.new
, .last {
	/*border-top: 1px solid black;*/
}
.last ul {
	text-align: center;
}
.last ul li {
	padding-left: 1em;
	padding-right: 1em;
	border-left: 1px black solid;
	border-right: 1px black solid;
	display: inline;
}
		
.detail {
	display: none;
}
.description {
	display: block;
}
.link {
	display: none; /* inline */
	padding-left: 2em;
}
.period {
	display: inline;
	float: right;
	padding-left: 2em;
	font-size: 9pt;
}

#contact {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#contact li {
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
}

#profile li
, #experience li
, #qualification li {
	display: block;
	padding-left: 7em;
}

#experience li {
	margin-bottom: 1em;
}
#experience .title {
	display: inline;
	font-weight: bold;
}
/*		#experience .description {
	padding-right: 10em;
}
*/		
#qualification li {
	margin-bottom: 0.2em;
}
#qualification .title
, #qualification .description {
	display: inline;
}
#qualification .title {
	font-weight: bold;
}
#qualification .description {
	padding-left: 2em;
	font-size: 8pt;
}

#info {
	display: none;
}

.detail {
	font-size: 8pt;
}
.detail ul li
, .description ul li {
	padding-right: 1em;
	display: inline;
}

@media_print {
	body
	, .page {
		margin: 0;
		padding: 0;
	}
}

.picture {
	padding-right: 1em;
	display: none;
}